name = "MarbleBot"
uuid = "a0ac6bce-1bd0-42b8-b3eb-ef979c8333b5"
authors = ["Keita Nakamura <keita.nakamura.1109@gmail.com>"]
version = "0.15.0"

[deps]
GeometricObjects = "f167b195-1c3d-409a-8dd6-02cc02a656c6"
Marble = "8a8a7a0b-5081-41d5-b488-cbbf872f9543"
MaterialModels = "a94b3f18-6cb1-4ab4-af29-8dac6ebab634"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
StructArrays = "09ab397b-f2b6-538f-b94a-2f83cf4a842a"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
UnicodePlots = "b8865327-cd53-5732-bb35-84acbb429228"

[compat]
GeometricObjects = "0.6"
Marble = "0.26"
MaterialModels = "0.6, 0.7"
StructArrays = "0.6"
UnicodePlots = "1, 2"
julia = "1.6"
